/* Colors Selection */


   .light
   {

    /* light~~ */
    --bg: hsl(0, 0%, 100%);
	--top-bg: hsl(225, 100%, 98%);
	--card: hsl(227, 47%, 96%);
	--sub: hsl(228, 12%, 44%);
    --header: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
    --toggler:unset;
    
    --limegreen: hsl(163, 72%, 41%);
	--brightred: hsl(356, 69%, 56%);
	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--instagram-start: hsl(37, 97%, 70%);
	--instagram-middle: hsl(5, 77%, 71%);
	--instagram-end: hsl(329, 70%, 58%);
	--youtube: hsl(348, 97%, 39%);
	
   
   }

	
	
	
    .dark
    {
    /* Dark~~ */
    --bg: hsl(230, 17%, 14%);
	--top-bg: hsl(232, 19%, 15%);
	--card: hsl(228, 28%, 20%);
	--card-hover: hsl(228, 25%, 27%);
	--sub: hsl(228, 34%, 66%);
    --header: hsl(0, 0%, 100%);
    --toggle: hsl(230, 22%, 74%);
    --toggler: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    
}


*,
*::before,
*::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body
{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
   
	
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    width: 100%;
}

.container1
{
    width: 80%;
}

/*Header Headline*/
header .top-header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-headline h1
{
    font-weight: 700;
    font-size: 2rem;
    color: var(--header);
    

}

.header-headline span
{
    font-weight: 700;
    font-size: 1rem;
    color: var(--sub);
    
}

/* Dark/Light Toggle */
.header-toggler
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header);

}


.toggler
{
    width: 45px;
    min-width: 45px;
    height: 24px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    background: var(--toggle);
    background-image: var(--toggler);
}

.toggler-circle
{
    width: 20px;
    height: 20px;
    transition: .3s;
    background-color: var(--bg);
    border-radius: 20px;
    margin: 2px;
}


/* Social-Media */
.container
{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 30px;
   flex-direction: row;
    
}

.card
{
    position: relative;
	overflow: hidden;
	background: var(--card);
	color: var(--header);
	padding: 2rem;
	text-align: center;
	transition: background 150ms ease-in-out;
	cursor: pointer;
}

.card__platform
{
  
    margin: 10px 0 10px 0;
    color: var(--sub);
    font-weight: 700;
  
}

.padding-left
{
    padding-left: 0;
}

.padding-right
{
    padding-right: 0;
}


.card__username
{
    font-size: 1.2rem;
    margin-left: 10px;
}

.card__count
{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--header);
}

.card__label
{
    color: var(--sub);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

.card__change
{
   
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
} 

.card__change img
{
    margin-right: 8px;
}

.card__change--up
{
    color: green;
    
    
}

.card__change--down
{
    color: red;
    
}

.card--facebook
{
    border-top: 3px solid hsl(208, 92%, 53%);
}

.card--twitter
{
    border-top: 3px solid  hsl(203, 89%, 53%);
}



.card--instagram::after
{
    content: '';
    position: absolute;
    background: linear-gradient(
        225deg,
        hsl(37, 97%, 70%),
        hsl(5, 77%, 71%),
        hsl(329, 70%, 58%)

    );
    left: 0;
    top: 0;
    height: 4px;
	width: 100%;
}

.card--youtube
{
    border-top: 3px solid hsl(348, 97%, 39%);
}


/* Overview */
.second-header
{
margin-top: 30px;

}

.cards 
{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px;

}


.card-grid
{
    display: grid;
	grid-template-columns: repeat(2, 230px);
	grid-template-rows: repeat(2, auto);
    justify-items: start;
    
}

.card__count {
    margin-bottom: 0;
}

.card__count,
.card__change 
{
 align-self: end;
}

.second-header h2
{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--header);
}